/* global - police du document */
*
{
    font-family: Arial, Helvetica, sans-serif;
}
/* haut de page - espace de navigation*/
header 
{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px;
}
/* haut de page - logo*/
.logoReservia
{
    width: 10%;
}
/* haut droit - autres éléments de navigation*/
/* gestion en flex des éléments */
.autreMenu
{
   display: flex;
   list-style: none;
   justify-content: space-between;
   align-items: center;
   padding: 100%, 40px;

}

/* gestion des boutons de navigation */
.hebergement
{
    display: flex;
    justify-content: space-around;
    color:black;
    font-size: 14px;
    margin: 5px;
    background-color: rgb(105, 63, 33);
}
.hebergement:hover
{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgb(0, 101, 252);
    color:rgb(0, 101, 252);
    font-size: 14px;
    margin: 5px;
}

.activites
{
    display: flex;
    justify-content: space-around;
    color:black;
    font-size: 14px;
    margin: 5px;
 }
 .activites:hover
{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgb(0, 101, 252);
    color:rgb(0, 101, 252);
    font-size: 14px;
    margin: 5px;
}
 .sinscrire
 {
     display: flex;
    justify-content: space-around;
     color: rgb(0, 101, 252);
     font-weight: bold;
     font-size: 14px;
     margin: 5px;
     
  }
 

/* centre-haut - Texte d'introduction*/
.accroche
{
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
}
.sousTitre
{
    font-size: 14Px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-weight: normal;
}

/*centre-haut - filtres*/
.filtres
{
    display: flex;
    padding-top: 20px;
    padding-bottom:20px;
    justify-content: space-between;
}

.logoBouton
{
    width: 40px;
    height: 40px;
}

.textFiltres
{
    font-weight: bold;
}
/*centre-haut - information*/
.information 
{
    display: flex;
    justify-content: left;
    justify-content: center;
}
.imageInformation 
{
    width: 20px;
    height: 20px;
}

/*centre - taille des images*/
.hebergementMarseille
{
    width: 100px;
    height: 100px;
    justify-content: space-evenly;
}
/*centre gauche - les hébergements proposés */
.sectionsCentrePage
{
    display: flex;
}

.listeDesHebergements
{
   display: flex;
   justify-content: space-around;  
   flex-wrap: wrap;  
   flex-grow: 3;
}

/*centre droit - les hébergements proposés - les plus populaires*/
.lesPlusPopulaires
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.logoTrend
{
    width: 10px;
    height: 10px;
}
.titreEtLogo
{
    display: flex;
}
/*pied de page - flexbox pour la gestion des 3 blocks */
.piedPage
{
    display: flex;
    justify-content: space-around;
    background-color: silver;
    /*ne fonctionne pas, obligé de passer par une suppression des points individuels :*/
    list-style: none;
}

.aPropos
{
    list-style: none;
}

.nosHebergements
{
    list-style: none;
}
.assistance
{
    list-style: none;
}

.teteChapitreBasPage
{
    font-weight: bold;
    padding-bottom: 5px;
}