/*  global - police du document */
*
{
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
}
/*  haut de page - espace de navigation*/
.nav{
    margin: 2px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0;
    margin: 0;
}
.logoReservia{
    height: 60%;
    padding-left: 50px;
}
.autreMenu{
    padding: 0;
    margin: 0;
}
.sousMenu{
    font-weight: bold;
    display: inline-block;
    justify-content: space-around;
    padding: 50px;
}
.sousMenu a:hover{
    display: flex;
    color: #0065FC;
}
.sousMenu:hover{
    border-top: 8px solid #0065FC;
}

/* centre-haut - Texte d'introduction : Trouver un hébergement...*/
.accroche
{
    font-weight: bold;
    font-size: 20px;
    Margin-left: 50px;
    line-height: 5px;
}
.sousTitre
{
    font-size: 16Px;
    padding-bottom: 20px;
    font-weight: normal;
    line-height: 5px;
}
/* centre-haut - bouton de recherche de ville avec icone zone de texte*/
.zoneRecherche{
    display: flex;
    padding-left: 40px;
    border: solide;
    border-radius: 30px 30px 30px 30px,
}
.maRecherche{
    font-size: 14px;
}
.fa-map-marker-alt{
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding: 10px;
    font-size: 20px;
}
.boutonRecherche{
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    color: white;
    border: none;
}
.fa-info-circle{
    color: #0065FC;
}
.fa-star{
    color: #F2F2F2;
}
.blue{
    color: #0065FC;
}
/*centre-haut - filtres Economique, familiale...*/
.filtres
{
    display: flex;
    width: 60%;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}
/* filtre*/
.filtreBouton{
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: rgb(184, 184, 184);
    border-width: 1px;
    padding-right: 10px;
    border-radius: 100px 100px 100px 100px;
}
.icone{
    display: flex;
    background-color: #DEEBFF;
    border-radius: 100px 100px 100px 100px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    
}
.fa-money-bill-wave, .fa-male, .fa-heart, .fa-dog{
    color: #0065FC;
}
.texteDansFiltres{
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
}
.textFiltres{
    font-weight: bold;
}
/* centre-haut - information*/

.information 
{
    display: flex;
    padding-left: 50px;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 30px;
}
.trouverLogements
{
    margin-left: 10px;
}
.fa-info-circle{
    font-size: 20px;
}

/* centre - taille des images*/
.hebergementMarseille
{
    width: 200px;
    height: 200px;
    justify-content: space-evenly;
    padding: 10px;
}
/* centre gauche - les hébergements proposés */
/* l'organisation des deux sections */
.sectionsCentrePage{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}

/*  le fond de la section gauche*/
.premierBlockHebergement{
    background-color: #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin-right: 30px;
    padding: 30px;
}
.listDesHebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.HebergementBlockGauche{
    display: flex;
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    flex-direction: column;
    justify-content: left;
    margin: 10px;
    width: 30%;
    box-shadow: 2px 2px 2px 2px rgb(138, 138, 138);
    padding: 2px;
}
.premierTitre{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    flex-wrap: wrap;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 2px;
}
.notation1{
   display: flex;
   margin-bottom: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
}

.secondTitre{
    display: flex;
    font-size: 12px;
    color: black;
    text-decoration: none;
    flex-wrap: wrap;
    padding-left: 5px;
    margin-top: 5px;
}
.imageVille{
    border-radius: 30px 30px 0px 0px;
    height: 110px;
    width: 100%;
    object-fit: cover;
}
.textBloc{
    padding-left: 20px;
    font-weight: bold;
}
.textBloc2{
    padding-left: 20px;
    font-weight: bold;
    padding-top: 40px;
}

/*centre droit - les hébergements proposés - les plus populaires*/
/*  le fond de la section droite*/
.lesPlusPopulaires{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    padding: 20px;
    justify-content: space-between;
}
.titreEtLogoPopulaires{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.HebergementBlockDroit{
    display: flex;
    background-color : white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 3px 3px 3px 3px rgb(138, 138, 138);
    margin-bottom: 30px;
    padding: 2px;
    height: 100%;
}
.imageVille2{
    border-radius: 30px 0px 0px 30px;
    width: 40%;
    object-fit: cover;
}
.premierTitre2{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-bottom: 5px;
}
.secondTitre2{
    display: flex;
    font-size: 12px;
    color: black;
    text-decoration: none;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-bottom:10px;
    margin-top: 5px;
}
.notation2{
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
 }
/* Section activités */
.activitesAMarseille{
    color: black;
    font-weight: bold;
    font-size: 50px;

}
.sectionActivites{
    display: flex; 
}
.activitesAMarseille{
    padding-left: 60px;
    padding-top: 30px;
    font-size: 16px;
}
.texteIconesBas2{
    color: black;
    font-weight: bold;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.texteIconesBas{
    color: black;
    font-weight: bold;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.divActivites{
    display: flex;
    padding-left: 40px; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}
.activite1{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 360px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px rgb(138, 138, 138);
    justify-content: space-between;
    margin: 2px;
    padding-bottom: 10px;
}
.activite2{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px rgb(138, 138, 138);
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.activite3{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px rgb(138, 138, 138);
    justify-content: space-between;
    padding-bottom: 20px;
}
.photoActivitesMarseille{
    width: 100%;
    height: 90%;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}
/* pied de page - flexbox pour la gestion des 3 blocks */
.piedPage
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-top: 10px;
    margin-top: 20px;
    line-height: 30px;
    padding: 20px;
    padding-right:200px ;
}

.aPropos, .nosHebergements, .assistance
{
    list-style: none;
}

.teteChapitreBasPage
{
    font-weight: bold;
}